.projects__container{
  width: -webkit-fill-available;
  width: -moz-available;
}

.projects__container-title{
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.projects__title{
  position: relative;
  font-size: var(--h2-font-size);
  font-weight: var(--font-normal);
}

.projects__title::after{
  content: '';
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  background: var(--detail);
  position: absolute;
  bottom: 8px;
  left: -5px;
  border-radius: 0.2rem;
  z-index: -1;
}

.projects__content{
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  gap: 1rem;

  @media (max-width: 1006px) {
    justify-content: center;
  }

}

.project__card{
  background: var(--background-light);
  border-radius: 1rem;
  max-width: 20rem;
  width: 100%;
  box-shadow: 0px 1px 3px var(--box-shadow);
  position: relative;
}

.project__img > img{
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  filter: brightness(0.7);
}

.project__info{
  padding: 1rem;
}

.project__info > span{
  font-weight: var(--font-medium);
  font-size: 1.4rem;
}

.project__skills{
  margin: .5rem 0;
  color: var(--detail);
  display: flex;
  align-items: center;
  gap: .3rem;
  font-size: 1.2rem;
}

.project__description{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.7);
  color: #eee;
  font-size: .8rem;
  opacity: 0;
}

.showDetail{
  transition: .3s;
  opacity: 1;
}

.project__description{
  line-height: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project__description-text > h4{
  font-weight: var(--font-medium);
  font-size: 1.4rem;
  margin-bottom: .5rem;
}

.project__container__description-link{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.project__description-link a{
  color: #eee;
  display: flex;
  align-items: center;
  transition: .3s;
}

.project__description-link a svg{
  margin-left: var(--mb-0-25);
}

.project__description-link a:hover{
  color: var(--detail);
  transform: translateX(0.28rem);
}

@media (max-width: 992px) {
  .projects__title::after{
    width: .8rem;
    height: .8rem;
    bottom: 5px;
    left: -3px;
  }
}

@media (max-width: 704px){
  .project__card{
    max-width: 100%;

  }
}

@media (max-width: 352px){
  .section__projects{
    height: auto;
  }
}